html, body, .container {
  height: 100%;
}

.sidenav {
  background-color: #555;
  height: 100%;
}

span.input-group-addon {
  text-align: center;
  width: 130px;
}

.input-group {
  width: 90%;
}

.input-group-addon label {
  margin-bottom: 0px;
}

.row {
 height: 100%
}

.shadebox {
  background-color: #aaa;
  height: auto;
  margin: 15px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.shadelabel {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

#image {
  display: none;
}

