html, body, .container {
  height: 100%;
}

.sidenav {
  height: 100%;
}

span.input-group-addon {
  text-align: center;
  width: 130px;
}

.blog-content {
  font-size: 1.5em;
}

.blog-emblem {
  background-color: #000;
  border-radius: 100px;
  color: #fff;
  font-size: 3em;
  font-weight: 800;
  height: 150px;
  line-height: 150px;
  margin-right: 50px;
  text-align: center;
  width: 150px;
}

.blogrule {
  background-color: #fff;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: #000;
  margin: 10px -10px;
  padding: 3px 10px;
  width: 100%;
}

.card {
  background-color: #9cf;
  border-radius: 15px;
  box-shadow: 0px 0px 25px 0px #555;
  height: 370px;
  margin: 20px 5px;
  overflow: hidden;
  padding: 10px;
}

.cardrule {
  background-color: #09c;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  color: #fff;
  margin: 10px -10px;
  padding: 3px 10px;
}

.col-pad-left {
  padding-left: 8px;
}

.col-pad-right {
  padding-right: 8px;
}

.float-panel {
  background-color: #9cf;
  border-radius: 10px;
  margin: auto auto;
  min-width: 500px;
  padding: 15px;
  width: 50%;
}

.img-frame {
  overflow: hidden;
  max-height: 138px;
  width: 100%;
}

.img-thumbnail {
  max-height: 138px;
}

.input-wrapper {
  height: 100%;
  margin: 15px;
  padding: 15px;
  width: 100%;
}

.leftcolumn {
  border-right: 1px solid black;
  padding-left: 10px;
  padding-right: 5px;
}

.img-lrg {
  max-height: 300px;
  max-width: 300px;
  min-height: 250px;
}

.rightcolumn {
  border-left: 1px solid black;
  padding-left: 5px;
  padding-right: 10px;
}

.form-group {
  width: 100%;
}

.frame {
  background-color: #dde;
  overflow:auto;
  padding: 10px;
}

.input-group {
  width: 100%;
}

.input-group-addon label {
  margin-bottom: 0px;
}

/*Used in conjuction with .toplabel element*/
.labeltop {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-pad-left {
  padding-left: 0px;
}

.no-pad-right {
  padding-right: 0px;
}

.profile-title {
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-bottom: 5px;
}

.row {
 height: 100%
}

.row-margin {
  margin-left: 15px;
  margin-right: 15px;
}

.sep-field {
  margin-top: 8px;
}

.sep-bottom {
  padding-bottom: 15px;
}

.shadebox {
  background-color: #aaa;
  height: auto;
  margin: 15px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.shadelabel {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

/*Used in conjuction with .labeltop element*/
.toplabel {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-width: 0px;
  margin-bottom: 0px;
}

nav.frame {
  height: 100%;
}
section.frame {
  display: block;
  height: 100%;
  width: 100%;
}

#header {
  background-image: url('../images/landscape.png');
  background-position: center center;
  background-size: cover;
  height: 100%;
  margin-bottom: 15px;
  position: relative;
}

#image {
  display: none;
}

#notepad {
  display:inline;
  float: right;
  margin-top: 15px;
  width: 100px;
}

#trumpet {
  margin: auto;
  width: 95%;
}

